.speech-bubble {
    height: 300px;
    width: 350px;
}

button {
    margin-top: auto;
    margin-bottom: 15px;
}

.radio-button {
    display: inherit;
}

#radio {
    margin-bottom: 30px;
    margin-top: -30px;
}
