/* body {
    font-family: 'Kodchasan', sans-serif;
    color: #DBE7DA;
    background-image: URL('../../assets/background-static1.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    text-align: center;
} */

img {
    width: 75%;
}