img {
    width: 75%;
}

p>img {
    width: auto;
}

.completed {
    pointer-events: none;
}

#map-description {
    position: relative;
    border-radius: .4em;
    width: 250px;
    height: 140px;
    display: inline-block;
    font-size: 1.2em;
    padding: 30px;
    border: solid 1px white;
    margin-bottom: 25px;
}