/* in img we'll set border radius to 100% */
p>img {
    height: auto;
    width:
    border-radius: 100%;
}

/* format links*/

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 55px;
}
.flex-container > div {
    width: 25%;
    text-align: center;
    margin: 5px;
    background-color: rgba(38, 47, 70, .8);
}