@import url('https://fonts.googleapis.com/css?family=Kodchasan|Lobster');

body {
    font-family: 'Kodchasan', sans-serif;
    color: #DBE7DA;
    background-color: #40545E;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

/* this is our sppech bubble */
.speech-bubble {
    position: relative;
    background: #7797a1;
    border-radius: .4em;
    width: 250px;
    height: 200px;
    display: inline-block;
    font-size: 1.5em;
    padding-top: 50px;
    margin-bottom: 25px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 55px solid transparent;
    border-left-color: #7797a1;
    border-right: 0;
    border-top: 0;
    margin-top: -27.5px;
    margin-right: -55px;
}
.radio-button {
    font-size: 1.5em;

}

button {
    font-family: 'Lobster', cursive;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    color: #40545E;
    border-radius: 6px;
    box-shadow: inset 0px 2px 0px 0px #40545E;
    margin-top: 50px;
}