@import url('https://fonts.googleapis.com/css?family=Kodchasan|Lobster');

body {
    font-family: 'Kodchasan', sans-serif;
    color: #DBE7DA;
    background-color: black;
    background-image: URL('../assets/background-static2.png');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

/* this is our sppech bubble */
.speech-bubble {
    position: relative;
    background: rgba(20, 23, 38, .3);
    border-radius: .4em;
    width: 250px;
    height: 175px;
    display: inline-block;
    font-size: 1.5em;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: solid 1px white;
}

.radio-button {
    font-size: 1.5em;

}

button {
    font-family: 'Lobster', cursive;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    color: #40545E;
    border-radius: 6px;
    box-shadow: inset 0px 2px 0px 0px rgb(20, 23, 38);
    margin-top: 50px;
}

#constellation-count {
    position: absolute;
    bottom: 75px;
    left: 15px;
}

/* img:hover {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(0,255,0, 0.6);
} */

img:hover {
    transform: scale(1.5);
}

.hidden {
    display: none;
}